# Python Basics - 1

## Topics
- Comments
- Variables
    - Integer
    - Float
    - Strings
        - str.title()
        - str.upper()
        - str.lower()
        - combining or concatenation
- List
    - Creating a list
    - Modifying a list
    - Adding item in a list
    - Removing item from a list
- Tuple

### Comments

In [1]:
# This is comment.

### Variables

#### Integer
You can simply add(+), substract(-), multiply(*) and divide(/) integer in python.

In [2]:
2*3

6

In [3]:
2+2

4

In [4]:
2 ** 2 #to perform exponent python uses two multiplication symbols.

4

In [5]:
type(3)

int

#### Floats
In python, any number with decimal consider as float type.

In [6]:
0.2 + 0.3

0.5

In [7]:
2 + 0.3

2.3

In [8]:
type(2.0)

float

In [9]:
type(2.1)

float

#### String
String is simply a series of character. In Python, anything inside quotes(single or double) is consider as string.

In [10]:
message = "Hello" #double quote
name = 'Durgesh Samariya' #single quote

In [11]:
print(message)
type(message)

Hello

str

In [12]:
print(name)

type(name)

Durgesh Samariya

str

##### String Methods
- str.title() -- print each word in titlecases, means first letter of each word is capital.
- str.upper() -- print all letter in capital case.
- str.lower() -- print all letter in lower case.

In [13]:
name = "durgesh samariya"
print(name.title())
print(name.upper())
print(name.lower())

Durgesh Samariya
DURGESH SAMARIYA
durgesh samariya

##### Combining or Concatenation

In [14]:
message_one = "Hello"
message_two = "World"
message = message_one + " " + message_two

print(message)

Hello World

In [15]:
first_name = "durgesh"
last_name = "samariya"

print("Hello, " + first_name.title() + " " + last_name.title() + "!")

Hello, Durgesh Samariya!

### List
List is collection of items. You can make list that contains alphabets(A-Za-Z), numbers(0-9). Simply you can put anything in list. 
\[ \] (square bracates) indicates list. 

Syntex:

list_name = \[ list_item_1, list_item_2, list_item_3 \]

**Note**: If item is string then write it in quotation. 
For example:
list_name = \[ 'list_item_1', 'list_item_2', 'list_item_3' \]

In [16]:
#create list
programming_languages = ['python', 'java', 'r', 'matlab']
print(programming_languages)
type(programming_languages)

['python', 'java', 'r', 'matlab']

list

Lists are collections, so you can access any elements from list. Simply pass index of item and it will return item located on that index.

**Note**: Index of list starts from 0. So if you want first item from the list you have to pass index = 0.

In [17]:
print(programming_languages[0])

python

In [18]:
print(programming_languages[0:2]) #You can pass sequence by starting point to end point. 
#in this example it return items upto index 2.
#Note: It doesn't include item located at index 2.

['python', 'java']

In [19]:
print(programming_languages[-1])
#Python have special index for accessing last item in list. Index of last element is -1.

matlab

##### Modifying List

In [20]:
print(programming_languages)

['python', 'java', 'r', 'matlab']

In [21]:
# Adding(appending) new item to the end of a list
programming_languages.append('ruby')

In [22]:
print(programming_languages)

['python', 'java', 'r', 'matlab', 'ruby']

In [23]:
# Modifying item in a list
programming_languages[-1] = 'C++'

In [24]:
print(programming_languages)

['python', 'java', 'r', 'matlab', 'C++']

In [25]:
# Inserting item into list
# sysntex : list.insert(position_index, item)
programming_languages.insert(1, 'ruby')

In [26]:
print(programming_languages)

['python', 'ruby', 'java', 'r', 'matlab', 'C++']

In [27]:
# Removing item from a list using item_index
del programming_languages[1]

In [28]:
print(programming_languages)

['python', 'java', 'r', 'matlab', 'C++']

In [29]:
# Removing item from a list using item_value
programming_languages.remove('C++')

In [30]:
print(programming_languages)

['python', 'java', 'r', 'matlab']

### Tuples
Tuple can define just like list except you use parentheses() insted of square brackets\[\].

**Note**: Like list tuple value cannot change throughout program. 

**Tip**: Use tuple when you to store value which should not change throughout thr program.

In [31]:
tuple_1 = (100, 10, 1)
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])

100
10
1

In [32]:
# Let's try to change value of tuple.
tuple_1[0] = 1000
# It will return error because changing tuple value can't be done in Python.

TypeError: 'tuple' object does not support item assignment

In [33]:
# Though modifying tupel is not possible, you can assign new values to tuple. 
print("Old Tuple: ")
print(tuple_1)

Old Tuple:
(100, 10, 1)

In [34]:
tuple_1 = (200, 20, 2)
print("New Tuple:")
print(tuple_1)

New Tuple:
(200, 20, 2)